body {
  background: black;
  color: white;
  font-family: 'Montserrat', serif !important;
  font-size: 1vw;
  font-weight: 500;
  text-align: center;
}

#top-contact-banner {
  background-color: rgb(34, 50, 82);
  justify-content: center;
  font-size: 2vw;
  font-weight: 600;
}

#business-banner {
  background-color: rgb(90, 129, 207);
  justify-content: center;
  font-size: 4vw;
  font-weight: 700;
}

#business-logo-navbar {
  max-width: 4vw;
  max-height: 4vw;
}

#phone-image-navbar {
  max-width: 3vw;
  max-height: 3vw;
  margin-right: 1vw;
}

#javiers-face-text {
  align-self: center;
  justify-content: center;
}

#company-logo {
  max-width: 10vw;
  max-height: 10vw;
}

#contact-javier {
  align-self: center;
  justify-content: center;
  font-size: 3vw;
}

#testimonial-name {
  align-self: center;
  justify-content: center;
  font-weight: 600;
  font-size: 3vw;
}

#testimonial-text {
  align-self: center;
  justify-content: center;
  font-size: 2vw;
}

.brand-logo {
  align-items: center;
  align-self: center;
  max-width: 20%;
  max-height: 100%;
}

#logos {
  justify-content: center;
}

.nav-link {
  background-color: rgb(35, 35, 120) !important;
  color: white;
  font-size: 1.5vw;
  width: stretch;
  height: fit-content;
}

.nav-link.active {
  background-color: rgb(20, 20, 70) !important;
}

#forms {
  background-color: rgb(35, 35, 120) !important;
}

#company-logo {
  align-self: center;
  width: stretch;
  height: fit-content;
}

#quote-text {
  align-self: center;
  width: fit-content;
  height: fit-content;
}

#form-filler {
  background-color: rgb(34, 50, 82);
}

#form-filler-inside {
  background-color: rgb(35, 35, 120);
}

#form-tab-filler {
  background-color: rgb(90, 129, 207);
}

#footer-filler,
#footer {
  background-color: rgb(240, 240, 240);
  font-size: medium;
  color: black;
}

.Providers {
  font-size: 2vw;
  font-weight: 600;
}

#review {
  font-size: x-large;
}

#testimonial-name {
  font-size: xx-large;
}

#testimonial-text {
  font-size: x-large;
}

#review-hr-left,
#review-hr-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#review-stars {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#star {
  max-width: 3.5vw;
}

#testimonial-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#testimonial-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#testimonial-img {
  border-radius: 50%;
  border: 5px solid rgb(240, 240, 240);
}

#contact-img {
  max-width: 33vw;
}

/* #review {
  display: flex;
} */

/* 
<!--
TODO:
Written testimonials
New copy for everything
CSS finished
Second page
Google analytics
Spanish
--> */