body {
  background: black;
  color: white;
  font-family: 'Montserrat', serif !important;
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
}

#top-contact-banner {
  background-color: rgb(34, 50, 82);
  justify-content: center;
  font-size: 2.5vw;
  font-weight: 600;
}

#business-banner {
  background-color: rgb(90, 129, 207);
  justify-content: center;
  font-size: 5vw;
  font-weight: 700;
}

#javiers-face-text {
  align-self: center;
  justify-content: center;
}

#contact-javier {
  align-self: center;
  justify-content: center;
  font-size: 4vw;
}

#testimonial-name {
  align-self: center;
  justify-content: center;
  font-weight: 600;
  font-size: 3.5vw;
}

#testimonial-text {
  align-self: center;
  justify-content: center;
  font-size: 2.5vw;
}

.nav-link {
  background-color: rgb(35, 35, 120) !important;
  color: white;
  font-size: 2.5vw;
  width: stretch;
  height: fit-content;
}

#forms {
  background-color: rgb(35, 35, 120) !important;
}

#company-logo {
  align-self: center;
  width: stretch;
  height: fit-content;
}

#quote-text {
  align-self: center;
  width: fit-content;
  height: fit-content;
}

#form-filler {
  background-color: rgb(34, 50, 82);
}

#form-tab-filler {
  background-color: rgb(90, 129, 207);
}