.wrapper {
  position: relative;
}

.primary-nav {
  width: 100%;
}

.navbar-brand {
  text-align: bottom;
  margin-top: 1.5rem;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

#auto-tab,
#home-tab,
#commercial-tab,
#life-tab {
  align-items: center;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 27px;
  margin-bottom: -1px;
  padding-left: 52px;
  padding-right: 52px;
  color-scheme: dark;
  position: relative;
  text-align: left;
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: ease-out;
  cursor: pointer;
  display: flex;
  height: 64px;
  background-color: rgb(24, 26, 27);
  border-bottom-color: rgb(48, 52, 54);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: none;
  border-left-color: rgb(48, 52, 54);
  border-right-color: rgb(48, 52, 54);
  border-top-color: rgb(48, 52, 54);
}

#pills-auto-tab,
#pills-home-tab,
#pills-commercial-tab,
#pills-life-tab {
  align-items: center;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 27px;
  margin-bottom: -1px;
  padding-left: 52px;
  padding-right: 52px;
  color-scheme: dark;
  position: relative;
  text-align: left;
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-property: color;
  transition-timing-function: ease-out;
  cursor: pointer;
  display: flex;
  height: 64px;
  background-color: rgb(24, 26, 27);
  border-bottom-color: rgb(48, 52, 54);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: none;
  border-left-color: rgb(48, 52, 54);
  border-right-color: rgb(48, 52, 54);
  border-top-color: rgb(48, 52, 54);
}

.nav-tabs {
  border-bottom-color: rgb(209, 205, 199);
  border-bottom-style: none;
  border-bottom-width: 0px;
  box-sizing: border-box;
  color: rgb(209, 205, 199);
  color-scheme: dark;
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.card {
  height: 90%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-box-shadow: 0 0 10px 10px #cccccc;
  -moz-box-shadow: 0 0 10px 10px #cccccc;
  box-shadow: 0 0 10px 10px #cccccc;
}

.ownername,
.languagetext,
.phone-number {
  text-align: center;
}

.ownername {
  font-size: x-large;
}

.languagetext {
  font-size: large;
}

.phone-number {
  color: lightgreen;
}

.sitename {
  font-size: xx-large;
}

.descriptivetext,
.categorytext {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1%;
}

.descriptivetext {
  font-size: large;
  text-align: center;
}

.descriptivetext::first-letter {
  font-size: 1.15rem;
  font-weight: bold;
  color: #f57c20;
}

.categorytext {
  font-size: xx-large;
  text-align: center;
  color: #f57c20;
}

.formcard {
  border: #fd9d0d;
  background-color: #88c9ff;
  text-align: center;
  padding: 4%;
  margin: 4%;
  -webkit-box-shadow: 0 0 15px 15px #cccccc;
  -moz-box-shadow: 0 0 15px 15px #cccccc;
  box-shadow: 0 0 15px 15px #cccccc;
  z-index: 1;
}

.card-img-top {
  align-items: center;
}

.autobtn,
.homebtn,
.buisbtn,
.lifebtn {
  position: absolute;
  text-align: center;
}